<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<h1></h1>
<br>
<h1></h1>
<br>
<h1></h1>
<br>
<h1></h1>
<br>
<h1></h1>
<br>
<h1></h1>
<br>

<div class="container text-center">


  <h1>Программа создана Ильёй при поддержке Ильи</h1>
  <p>Особая благодарность Илье, а так же вcем, кто поддерживал Илью</p>
  <a href="{% url 'home' %}" class="btn btn-warning">Вернуться обратно</a>
</div>
